{% extends 'base.html' %}
{% load static %}
{% block title %}
{{ title }}
{% endblock title %}
{% block main %}
<main>
    {% include 'gameshop/components/_messages.html' %}
    {% include 'gameshop/components/banner.html' %}
    {% include 'gameshop/components/features.html' %}
    {% include 'gameshop/components/trend_games.html' %}
    {% include 'gameshop/components/most_player.html' %}
    {% include 'gameshop/components/categories.html' %}
    {% include 'gameshop/components/cta.html' %}
</main>
{% endblock main %}