<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>{% block title %}
        {% endblock title %}</title>

    {% include 'components/style.html' %}
<!--

TemplateMo 589 lugx gaming

https://templatemo.com/tm-589-lugx-gaming

-->
  </head>

<body>

    {% include 'components/header.html' %}
    {% block main %}
    {% endblock main %}

    {% include 'components/footer.html' %}

    {% include 'components/scripts.html' %}
  </body>
</html>