{% load static %}
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->

<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index'%}" class="logo">
                        <img src="{% static 'gameshop/assets/images/logo.png' %}" alt="" style="width: 158px;">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'index'%}"
                               class="{% if request.resolver_match.url_name == 'index' %}active{% endif %}">
                            ГОЛОВНА</a></li>
                        <li><a href="{% url 'shop_page' %}"
                               class="{% if request.resolver_match.url_name == 'shop_page' %}active{% endif %}">
                            МАГАЗИН</a></li>
                        <li><a href="shop.html">ПРО НАС</a></li>
                        <li><a href="{% url 'contact_us' %}"
                               class="{% if request.resolver_match.url_name == 'contact_us' %}active{% endif %}">
                            КОНТАКТИ</a></li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'logout' %}"
                                    class="{% if request.resolver_match.url_name == 'logout' %}active{% endif %}">
                            Вийти</a></li>
                        {% else %}
                        <li><a href="{% url 'login_registration' %}"
                                    class="{% if request.resolver_match.url_name == 'login_registration' %}active{% endif %}">
                            Увійти</a></li>
                        {% endif %}
                    </ul>
                    <a class='menu-trigger'>
                        <span>Меню</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->