{% load static %}
<div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="caption header-text">
            <h6>Ради вітати у lugx</h6>
            <h2>Найкращий ігровий сайт!</h2>
            <p>Тут знайдеш новинки, топ-ігри зі знижками, DLC та чесні огляди. Зручний пошук, швидка покупка ключів, список бажаного й порівняння цін — грай вигідно вже сьогодні!</p>
            {% include 'gameshop/components/_search.html' %}
          </div>
        </div>
          <div class="col-lg-4 offset-lg-2">
              <div class="right-image">
                <img src="#" alt="">
                <span class="price">$22</span>
                <span class="offer">-40%</span>
              </div>
        </div>
      </div>
    </div>
  </div>