{% load static %}

<div class="section most-played">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>ТОП ІГРИ</h6>
            <h2>НАЙПОПУЛЯРНІШІ</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="shop/?sort=popular">ПЕРЕГЛЯНУТИ ЩЕ</a>
          </div>
        </div>
          {% for game in top_games %}
        <div class="col-lg-2 col-md-6 col-sm-6">
          <div class="item">
            <div class="thumb">
              <a href="{{game.get_absolute_url}}"><img src="{{game.get_game_photo }}" alt=""></a>
            </div>
            <div class="down-content">
                {% for g in game.genres.all %}
                <span class="category">{{g}}</span>
                {% endfor %}
                <h4>{{game}}</h4>
                <a href="{{ game.get_absolute_url }}">Детальніше</a>
            </div>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
  </div>