<div class="col">
    <div class="card h-100 shadow-sm game-card">
        <div class="position-relative ratio ratio-1x1 thumb">
            <img src="{{ game.get_game_photo }}" class="w-100 h-100 object-fit-cover" alt="Game title">
        </div>
        <div class="card-body">
            <div class="small text-muted mb-1">{{ game.genre}}</div>
            <h5 class="card-title mb-2">{{game}}</h5>
            <div class="d-flex align-items-baseline gap-2">
                {% if game.discount_percent > 0 %}
                <span class="fw-bold">${{game.price_after_discount}}</span>
                <span class="text-muted text-decoration-line-through small">${{game.price}}</span>
                {% else %}
                <span class="fw-bold">${{game.price_after_discount}}</span>
                {% endif%}
            </div>
            <a href="#" class="stretched-link" aria-label="Перейти до гри"></a>
        </div>
    </div>
</div>