{% load static %}

  <div class="section trending">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="section-heading">
            <h6>Знижки</h6>
            <h2>ІГРИ ЗІ ЗНИЖКАМИ</h2>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="main-button">
            <a href="shop.html">ПЕРЕГЛЯНУТИ ЩЕ</a>
          </div>
        </div>
          {% for game in discount_game %}
            {% include 'gameshop/components/_gamecart.html' %}
          {% endfor %}

      </div>
    </div>
  </div>